- @sitename


!!! 5
%html{html_attrs}
  %head
    %title= @title
    // Buggy on the iPhone4
    // %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0", :name => "viewport"}
    %link{:href => "stylesheets/stylesheet.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "themes/default/default.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
    %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"}
    %script{:type => "text/javascript", :src => "javascripts/jquery.color.js"}
    %script{:type => "text/javascript", :src => "javascripts/menu-control.js"}
    %script{:type => "text/javascript", :src => "javascripts/iscroll.js"}
    %script{:src => "javascripts/prototype.js", :type => "text/javascript"}
    %script{:src => "javascripts/scriptaculous.js?load=effects,builder", :type => "text/javascript"}
    %script{:src => "javascripts/lightbox.js", :type => "text/javascript"}
    %link{:href => "stylesheets/lightbox.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "stylesheets/queryLoader.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "javascripts/queryLoader.js", :type => "text/javascript"}
    
    %script{:type => "text/javascript", :src => "javascripts/jquery.nivo.slider.js"}
    %link{:href => "stylesheets/nivo-slider.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
    //%script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js", :type => "text/javascript"}
    


  %body{:onorientationchange =>"ipadFunc();"}
  //.preloader
  //  .preloader-box
  //    %img{:height => "40", :src => "/images/75.gif", :width => "40"}
  .bg2
  .bg1
  .menu-container
    %ul
      %li
        %a{:href => "#", :id => "main-1-link"} ABOUT
      %li
        %a{:href => "#", :id => "main-2-link"} HOMES
      %li
        %a{:href => "#", :id => "main-3-link"} SPECIALS
      %li
        %a{:href => "#", :id => "main-4-link"} GUIDE
      %li
        %a{:href => "#", :id => "main-5-link"} CONTACT    
  .bg-banner
  #page1
    .content
      .slideshow
        .slider-wrapper.theme-default
          .ribbon
          #slider.nivoSlider
            %img{:alt => "", :src => "images/slideshow/1.jpg"}
            %img{:alt => "", :src => "images/slideshow/2.jpg"}
            %img{:alt => "", :src => "images/slideshow/3.jpg"}
      %h2
        CANYON LAKE
        %span{:style => "color:black"} | Our Story
        %br
        %br
      .column
        %img{:height => "325", :src => "images/photo_1.png", :width => "280", :style =>"margin-left:100px;margin-top: 50px;"}
      .column
        %h3 First Header
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae sagittis dolor. Integer in molestie mi. Pellentesque non diam ac arcu dapibus mattis a at nisi. Nam scelerisque malesuada lorem, ac lobortis lectus semper in. Nunc in massa magna. Quisque nec feugiat libero. Integer dui arcu, pellentesque vitae pretium dictum, euismod adipiscing tortor. 
        %p Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi vel sem ut libero rhoncus interdum quis id elit. 
        %h3 Second Header
        %p Curabitur ac massa luctus libero pharetra iaculis ac sed tellus. Quisque id turpis dui, eget porttitor ipsum. Nulla sem diam, tristique quis accumsan id, vestibulum sed mauris. Donec vitae commodo ante. Nam malesuada hendrerit est, sit amet bibendum leo suscipit non.
        %p Donec mollis, nisi id placerat imperdiet, libero elit ultricies ipsum, vitae dignissim massa urna eu velit. Suspendisse potenti. Praesent at tellus nunc. Cras at erat justo, at pellentesque nisi. 
        %p Integer dolor nisl, bibendum sagittis imperdiet pulvinar:
        %ul.normal-list{:style=>"margin-left:50px;"}
          %li 
            %span Conferencias
          %li 
            %span Seminarios
          %li 
            %span Talleres
          %li 
            %span Desayunos
      .footer
        Copyright &copy Canyon Lake Resort 2011-2012. 830-221-6351. All Rights Reserved.
  #page2
    .content
      .banner
        %img{:alt => "", :src => "images/slideshow/1.jpg", :height => "300", :width =>"850"}
      %h2 Waterfront Villa
      .column
        .gallery-container{:style => "width: 425px; margin-left: 5px;"}
          %img{:height => "300", :src => "/images/gallery/1.jpg", :width => "400"}
        .gallery-container{:style => "width: 425px;"}
          %a{:href => "/images/gallery/2.jpg", :rel => "lightbox[home1]"}
            %img{:height => "80", :src => "/images/gallery/2_small.jpg", :width => "80"}
          %a{:href => "/images/gallery/3.jpg", :rel => "lightbox[home1]"}
            %img{:height => "80", :src => "/images/gallery/3_small.jpg", :width => "80"}
          %a{:href => "/images/gallery/4.jpg", :rel => "lightbox[home1]"}
            %img{:height => "80", :src => "/images/gallery/4_small.jpg", :width => "80"}
          %a{:href => "/images/gallery/5.jpg", :rel => "lightbox[home1]"}
            %img{:height => "80", :src => "/images/gallery/5_small.jpg", :width => "80"}
        %h3 About Waterfront Villa
        %p Beautiful remodeled Canyon Lake waterfront home on 1+ acre with spectacular lakeview. 3 bedroom, 2 bath. Master bedroom with queen bed and large bath with dual sinks and tiled shower. 2nd bedroom has a queen bed, 3rd bedroom has 2 bunk beds with ability to sleep 4. Home features stained concrete floors, full remodeled kitchen with stainless appliances, large open living & dining with new furnishings and view of the lake. Back covered patio with gas grill and pleny of seating looking out at the lake. 
        %p OK to bring your boat up to lakeshore in the cove behind the home. Located just off FM 306 and past the Silverleaf Hill Country Resort. Guests have access to neighborhood swimming pool & tennis court. 
        %p Nearby Canyon Lake Marina, watefront restaurant and a few miles from River activities on the Guadalupe. Whitewater Amphitheater featuring outdoor concerts just a few miles.   
      .column
        %h3 Location
        %p Canyon Lake, Hill Country, Texas, USA
        %h3 Accommodations
        %p House, 3 Bedrooms + Convertible bed(s), 2 Baths (Sleeps 8-10)
        %h3 Rate
        %p 
          %b May 1 - Sept 30 
          %br 
          $250/weekday night  
          %br 
          $350/weekend night   
          %br 
          $1500/week
        %p
          %b Oct 1 - Dec 31
          %br 
          $200/weekday night  
          %br 
          $300/weekend night  
          %br 
          $1200/week
        %p
          %b Jan 1 - Apr 30
          %br 
          $2000/month
      .column
        %h3 Features
        %ul.normal-list
          %li 
            %span.pink Amenities
            | Air Conditionning, Wood Fireplace, Garage, Parking for RV/Boat/Trailer
          %li 
            %span.pink Beds
            | Queen Bed, Bunk Bed
          %li 
            %span.pink Entertainment
            | Cable/Satellite TV, Shared Pool, DVD, Video Library
          %li 
            %span.pink Kitchen
            | Full Kitchen, Cooking Utensils Provided, Refrigerator, Dish Washer, Microwave, Ice Maker
          %li 
            %span.pink Outdoor Features
            | Gas/Electric BBQ Grill, Deck/Patio
          %li 
            %span.pink View/Location
            | Lakefront, Lake View
          %li 
            %span.pink Suitability
            | Kid Friendly, No Pets Allowed, No Smoking Allowed
        %h3 ACTIVITIES
        %ul.normal-list
          %li Tennis
          %li Boating
          %li Swimming
          %li Fishing
          %li Sledding/Tubbing
          %li Kayaking
          %li Water Skiing
          %li Biking
          %li Theme Park
          %li Sailing
          %li Jet Skiing
          %li Mountain Biking
          %li Rafting
    .footer
      Copyright &copy Canyon Lake Resort 2011-2012. 830-221-6351. All Rights Reserved.
  #page3
    .content
      .banner
        %img{:alt => "", :src => "images/slideshow/1.jpg", :height => "300", :width =>"850"}
      %h2 Special Deals
      .column
        %h3 Coming Soon...
    .footer
      Copyright &copy Canyon Lake Resort 2011-2012. 830-221-6351. All Rights Reserved.
  #page4
    .content
      .banner
        %img{:alt => "", :src => "images/slideshow/2.jpg", :height => "300", :width =>"850"}
      %h2 Guides and Attractions
      .column
        %h3 Coming Soon...
      .footer
        Copyright &copy Canyon Lake Resort 2011-2012. 830-221-6351. All Rights Reserved.
  #page5
    .content
      .banner
        %img{:alt => "", :src => "images/slideshow/3.jpg", :height => "300", :width =>"850"}
      %h2 CONTACTO
      %br
      %br
      .column
        %h3 CANYON LAKE RESORT
        %p Ut tincidunt rhoncus risus, et adipiscing dui dignissim eu. Etiam commodo, purus in dapibus pellentesque, neque diam pretium diam, eu ultrices nulla nulla ac nulla.
        %p 
          %span.pink ADDRESS 
          | P O. Box. 23227 Houston, Texas 77228
        %p 
          %span.pink TEL 
          | 830-221-6351
        %p 
          %span.pink EMAIL
          | info@canyonlakeresort.com
        %br
      .column
        %h3 CONTACT FORM
        %br
        .contact-form
          %iframe{:allowtransparency => "true", :frameborder => "0", :height => "598", :scrolling => "no", :src => "https://media3creative.wufoo.com/embed/p7w5q1/", :style => "width:370px;border:none;margin-left: 30px;"}
      .footer
        Copyright &copy Canyon Lake Resort 2011-2012. All Rights Reserved.
    

    

