@font-face {
  font-family: TrajanPro-Regular;
  src: url("/fonts/trajanpro-regular-webfont.eot");
  src: url("/fonts/trajanpro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/trajanpro-regular-webfont.woff") format("woff"), url("/fonts/trajanpro-regular-webfont.ttf") format("truetype"), url("/fonts/trajanpro-regular-webfont.svg#embedfont-1Medium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Chinese;
  src: url("/fonts/chinesetakeaway-webfont.eot");
  src: url("/fonts/chinesetakeaway-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/chinesetakeaway-webfont.woff") format("woff"), url("/fonts/chinesetakeaway-webfont.ttf") format("truetype"), url("/fonts/chinesetakeaway-webfont.svg#embedfont-1Medium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Helvetica_light;
  src: url(/fonts/helvetica_light.ttf) format("truetype");
}

.preloader {
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.preloader-box {
  text-align: center;
  position: relative;
  margin: auto;
  margin-top: 25%;
  height: 200px;
  width: 200px;
}

.bg1 {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: black;
  background: url(/images/bg_1.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg2 {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: black;
  background: url(/images/bg_1.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.left-side-bar-bg {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-image: url("/images/side_bar_bg.png");
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto auto;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 562px;
}

.left-side-bar {
  position: fixed;
  left: 105px;
  top: 0px;
  box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.8);
  background: url(/images/bg_pattern.jpg);
  width: 100px;
  height: 550px;
}

.logo {
  margin-top: 30px;
  margin-left: -5px;
  position: relative;
  height: 89px;
  width: 156px;
}

.footer {
  position: relative;
  background-color: #42210b;
  height: 20px;
  width: 850px;
  float: left;
  color: #e6e6e6;
  text-align: center;
  padding-top: 10px;
  font-size: 12px;
  z-index: 10;
}

.menu-container {
  position: relative;
  margin: auto;
  margin-top: 310px;
  height: 36px;
  width: 700px;
  font-family: TrajanPro-Regular;
  font-weight: 20;
  z-index: 10;
  color: black;
}

.menu-container ul {
  position: relative;
  margin-top: 0px;
  list-style-type: none;
  letter-spacing: 0.075em;
  line-height: 35px;
}

.menu-container li {
  margin-top: 5px;
  display: inline-block;
}

.menu-container ul a {
  opacity: 0;
  padding-top: 5px;
  font-size: 12px;
  text-align: center;
  color: inherit;
  text-decoration: none;
  line-height: 20px;
  text-align: center;
}

.menu-hl {
  position: absolute;
  left: 20px;
  margin-top: -27px;
  background-color: #931616;
  height: 25px;
  width: 0px;
}

.red-line {
  display: inline;
  position: relative;
  float: left;
  height: 2px;
  width: 7px;
  margin-top: 7px;
  margin-right: 5px;
  background-color: #931616;
}

.sub-menu-box {
  float: left;
}

.sub-menu {
  display: none;
  list-style-type: none;
  position: relative;
  line-height: 20px;
  font-size: 12px;
}

.copyright-box {
  position: fixed;
  text-align: left;
  height: 70px;
  width: 400px;
  bottom: 0px;
  right: 10px;
  text-align: left;
  margin-left: 80px;
  color: #e6e6e6;
  font-size: 10px;
}

.ourLink {
  margin-top: 10px;
  color: white;
  font-family: "TrajanPro-Regular";
  font-size: 12px;
}

.ourlink :hover {
  color: #696969;
}

.downloadLink {
  margin-top: 10px;
  color: #931616;
  font-family: "TrajanPro-Regular";
  font-size: 12px;
}

.downloadlink :hover {
  color: #696969;
}

.phone-num {
  color: white;
  font-size: 14px;
}

#main-1-link, #main-2-link, #main-3-link, #main-4-link, #main-5-link, #main-6-link, #main-7-link, #main-8-link {
  display: block;
  height: 25px;
  width: 100px;
}

body {
  background-color: black;
}

h1 {
  font-family: Chinese;
  font-size: 30px;
  letter-spacing: 0.3em;
  color: white;
  margin-top: 15px;
  margin-left: 30px;
  opacity: 1;
  font-weight: 100;
}

h2 {
  font-family: TrajanPro-Regular;
  font-size: 24px;
  color: #8c6239;
  margin: 0px;
  margin-top: 130px;
  opacity: 1;
  text-align: center;
}

h3 {
  font-family: TrajanPro-Regular;
  font-size: 13px;
  color: #8c6239;
  margin: 0px;
  margin-top: 10px;
  margin-left: 30px;
  letter-spacing: 0.075em;
  opacity: 1;
}

p {
  color: black;
  opacity: 1;
  margin-left: 30px;
  margin-right: 15px;
  font-size: 13px;
  letter-spacing: 0.005em;
  font-family: Helvetica_light;
}

img {
  border: 0px solid white;
}

td {
  padding-left: 20px;
}

.social-icon {
  position: relative;
  margin-left: 20px;
}

.photo-preload {
  position: fixed;
  top: 0px;
  left: -2000px;
  height: 1px;
  width: 1px;
}

#page1, #page2, #page3, #page4, #page5, #page6 {
  position: absolute;
  z-index: 1;
  display: block;
  top: 0px;
  left: 370px;
  width: 850px;
  height: auto;
}

.scroller {
  padding: 20px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 20;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 100%;
  padding: 0;
  border: 1px solid #aaaaaa;
  border-style: solid;
  border-width: 0.7px;
  border-color: #383733;
  background-image: url("/images/trans_bg.png");
  height: auto;
}

.content {
  margin-top: 0px;
  float: left;
  width: 850px;
  background-image: url(../images/content_bg/middle_banner.png);
  -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
  -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
  box-shadow: 0px 1px 5px 0px #4a4a4a;
  border: 2px solid #e6e6e6;
}

.close-content {
  z-index: 2;
  height: 25px;
  background-color: #931616;
  float: right;
  color: white;
  font-family: "TrajanPro-Regular";
  font-size: 15px;
  width: 75px;
  text-align: center;
  padding-top: 3px;
  margin-top: 0px;
}

.close-content:hover {
  background-color: white;
  color: #931616;
}

.gallery-container {
  text-align: center;
  width: 850px;
  margin-top: 20px;
}
.gallery-container a img {
  margin: 5px;
  -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
  -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
  box-shadow: 0px 1px 5px 0px #4a4a4a;
  border: 4px solid #e6e6e6;
}

.icon {
  border: 0 solid white;
}

.normal-list {
  color: black;
  font-size: 13px;
  font-family: Helvetica_light;
}

.pink {
  color: #8c6239;
}

.content-text {
  background-image: url("/images/trans_bg.png");
  height: auto;
  -moz-border-radius: 5px 25px 5px 25px;
  border-radius: 5px 25px 5px 25px;
  padding: 20px;
  padding-bottom: 40px;
}

.contact-form {
  overflow: hidden;
}
.contact-form iframe {
  position: relative;
  top: -30px;
  margin-top: -30px;
}

.download {
  color: white;
  font-family: "TrajanPro-Regular";
  font-size: 13px;
  margin: 20px;
}

.normal li {
  color: black;
  font-family: Helvetica_light;
  font-size: 14px;
}

.title {
  float: left;
  position: relative;
  text-align: center;
  margin: 0px;
  margin-top: -5px;
  background-color: #931616;
  height: auto;
  min-height: 2px;
  width: 700px;
}

.column {
  width: 425px;
  float: left;
  margin-bottom: 10px;
}
.column img {
  -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
  -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
  box-shadow: 0px 1px 5px 0px #4a4a4a;
  border: 4px solid #e6e6e6;
}

.lower_bg {
  width: 852px;
  height: 35px;
  background-image: url(../images/content_bg/lower_banner2.png);
  float: left;
}

.upper_bg {
  width: 912px;
  height: 327px;
  background-image: url(../images/content_bg/upper_banner.png);
  float: left;
  margin-left: -35px;
  z-index: -1;
}

.bg-banner {
  width: 600px;
  height: 89px;
  position: relative;
  margin: auto;
  margin-top: -10px;
  z-index: 5;
  background-image: url(../images/logo.png);
}

.slogan {
  width: 400px;
  height: 100px;
  text-align: center;
  letter-spacing: 0.01em;
  line-height: 1.2em;
  color: #da1c5c;
  font-size: 20px;
  margin: auto;
  margin-top: 230px;
}

.slideshow {
  height: 300px;
  width: 850px;
  position: relative;
  margin: auto;
  margin-top: 0px;
  border: 0px solid #e6e6e6;
}

.banner {
  height: 300px;
  width: 850px;
  position: relative;
  margin: auto;
  margin-top: 0px;
}
.banner img {
  -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
  -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
  box-shadow: 0px 1px 5px 0px #4a4a4a;
  border: 0px solid #e6e6e6;
}
